body {
    background-color: #ffff ;
}
#name {
    padding-left: 10px;
    width: 340px;
    height: 62px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 17px;
    border: 0px;
}
#email {
    margin-top: 29px;
    padding-left: 10px;
    width: 340px;
    height: 62px;
    border-radius: 10px;
    font-size: 20px;
    margin-left: 17px;
    border: 0px;
}
#password {
    padding-left: 10px;
    width: 340px;
    height: 62px;
    border-radius: 10px;
    font-size: 20px;
    margin-top: 29px;
    margin-left: 17px;
    border: 0px;
}
#create {
    font-weight: bold; 
    width: 350px; 
    height: 62px; 
    border-radius: 10px; 
    font-size: 20px; 
    margin-top: 29px; 
    margin-left: 18px; 
    border: 0px;
    background-color: #00FD8F; 
    color: #02231c;
    cursor: pointer;
}

#create:hover{
    background-color: rgb(134, 255, 203);
}

.error{
    border-radius: 6px;
    background-color: rgb(244, 92, 92);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 23px;
    width: 328px;
    padding-left: 10px;
}

#account-created-alert{
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0%;
    display: none;
    border: 2px solid #00FD8F;
    background-color: #438367;
    position: absolute; 
    left: 50%; 
    transform: translate(-50%, -50%);
    margin-top: 3rem;
    height: 3rem;
    padding: 0%;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}